:root {
  --accent-color: #2196f3;
  --touch-accent-color: #188ce8;
  --primary-title-text: #212121;
  --primary-text-color: #757575;
  --secondary-title-text: #ffffff;
  --background-color: #2f303a;
  --third-text-color: #000000;
  --second-background-color: #f5f4fa;
  --first-border-color: #ececec;
  --second-border-color: #eeeeee;
  --icons-color: #afb1b8;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: Roboto, sans-serif;
  background-color: var(--secondary-title-text);
  color: var(--primary-text-color);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/* header */
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  background-color: var(--secondary-title-text);
}

.header-border {
  border-bottom: 1px solid var(--first-border-color);
}
.header-container {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 93px;
  padding: 24px 0;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: none;
}
.second-logo {
  color: var(--third-text-color);
}
.white-logo {
  color: var(--secondary-title-text);
}
.nav-item-link.current {
  position: relative;
  color: var(--accent-color);
}

.nav-item-link.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.footer-soc-list,
.clients,
.soc-list,
.nav-items,
.contact-items,
.advantages-list,
.address-list,
.overlay-text-item {
  list-style: none;
}

.nav-items,
.contact-items {
  display: flex;
}

.nav-item,
.contact-item {
  margin-right: 50px;
}
.nav-item:last-child,
.contact-item:last-child {
  margin-right: 0px;
}

.header-contacts {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.link-icon {
  margin-right: 10px;
  fill: currentColor;
}

.nav-item-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-title-text);
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item-link:focus,
.nav-item-link:hover,
.contact-item-link:hover,
.contact-item-link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.contact-item-link {
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
  display: flex;
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* hero */
.hero {
  background-color: var(--background-color);
  padding: 200px 0;
  text-align: center;
}

.overlay {
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bg-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-title-text);
  margin-bottom: 30px;
}

.btn {
  min-width: 200px;
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--secondary-title-text);
  cursor: pointer;
  border: none;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
}

.backdrop {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  min-width: 528px;
  padding: 40px 39px 40px 41px;
  background-color: var(--secondary-title-text);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: var(--secondary-title-text);
  cursor: pointer;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  fill: var(--accent-color);
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-form {
  margin-top: 12px;
  margin-left: auto;
  margin-right: auto;
}

.form-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

.form-field input {
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}
.form-field label,
.textarea label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.textarea textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form textarea::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.checkbox-field {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox-field label {
  display: flex;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  align-items: center;
}
.policy-link {
  color: var(--accent-color);
}
.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid var(--primary-title-text);
  border-radius: 2px;
  cursor: pointer;
}

.checkbox-icon:hover,
.checkbox:focus + .checkbox-icon {
  border-color: var(--accent-color);
}

.checkbox:checked + .checkbox-icon {
  border-color: var(--accent-color);
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}
.send-btn {
  justify-content: center;
  min-width: 200px;
  height: 50px;
  padding: 0;
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--secondary-title-text);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition-property: box-shadow, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.send-btn:focus,
.send-btn:hover {
  background-color: var(--touch-accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.form-field input:focus,
.textarea textarea:focus,
.form-field input:hover,
.textarea textarea:hover {
  border: 1px solid var(--accent-color);
}

.form-icons {
  position: absolute;
  display: inline-block;
  width: 18px;
  height: 18px;
  transform: translate(12px, 29px);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field input:focus ~ .form-icons,
.form-field input:hover ~ .form-icons {
  fill: var(--accent-color);
}
/* advantages */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantages-container,
.work-container {
  background-color: var(--secondary-title-text);
}

.advantages-list {
  margin-right: -30px;
  display: flex;
}
.advantages-icon {
  width: 270px;
  height: 120px;
  background-color: var(--second-background-color);
  margin-bottom: 30px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.advantages-items {
  min-width: 270px;
  margin-right: 30px;
}

.advantages-item {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-title-text);
}
.advantages-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
/* what we really do */

.section-work {
  padding-bottom: 94px;
}

.section-title {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--primary-title-text);
}

.work-list {
  display: flex;
  list-style: none;
  margin-left: -30px;
}

.work-thumb {
  position: relative;
  z-index: 1;
}
.work-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
}

.text-thumb {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: calc(100% / 3 - 30px);
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.text-img {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-title-text);
}

.team-cards {
  list-style: none;
}
/* our team */
.team-section {
  background-color: var(--second-background-color);
}
.cards-title {
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  margin-left: -30px;
}

.team-cards {
  margin-left: 30px;
  flex-basis: calc(100% / 4 - 30px);
  background: var(--secondary-title-text);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.flex-element {
  padding: 30px 32px;
}

.employee-name {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--primary-title-text);
}
.employee-position {
  margin-top: 10px;
  text-align: center;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.soc-list {
  padding: 0;
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.soc-list-item {
  margin-right: 10px;
}
.soc-list-item:last-child {
  margin-right: 0;
}
.soc-link {
  display: flex;
  padding: 0;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--icons-color);
  justify-content: center;
  align-items: center;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-link:focus,
.soc-link:hover {
  background-color: var(--accent-color);
  fill: var(--secondary-title-text);
}

.lcon-svg {
  fill: currentColor;
}
/* clients */

.clients {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.client {
  display: flex;
  margin-right: 30px;
}

.client:last-child {
  margin-right: 0;
}

.company {
  display: flex;
  width: 170px;
  height: 92px;
  fill: var(--icons-color);
  border: 1px solid var(--icons-color);
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  transition-property: fill, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.company:hover,
.company:focus {
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
}

/* contact us */
.footer {
  background-color: var(--background-color);
  list-style: none;
  padding: 60px 0;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
  padding: 0;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: none;
}
.address-items {
  margin-bottom: 9px;
}
.address-items:last-child {
  margin-bottom: 0;
}

.address-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-title-text);
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.tel-link,
.mail-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link:focus,
.address-link:hover,
.tel-link:focus,
.tel-link:hover,
.mail-link:focus,
.mail-link:hover {
  color: var(--accent-color);
}
.footer-block {
  display: flex;
  align-items: baseline;
}
.contact-block {
  margin-right: 70px;
}
.footer-soc {
  align-items: baseline;
  text-align: left;
  margin-right: auto;
}
.footer-strong {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-title-text);
}
.footer-soc-list {
  padding: 0;
  display: flex;
}
.footer-soc-block {
  margin-right: 10px;
  justify-content: center;
}
.footer-soc-block:last-child {
  margin-right: 0;
}
.footer-link {
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  border-radius: 22px;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link:hover,
.footer-link:focus {
  background-color: var(--accent-color);
}
.footer-svg {
  fill: var(--secondary-title-text);
}

.footer-sign {
  align-items: baseline;
  text-align: left;
}

.email-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--background-color);
  color: var(--secondary-title-text);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input:hover,
.input:focus {
  border: 1px solid var(--accent-color);
}

.email-form input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03;
  color: rgba(255, 255, 255, 0.6);
}

.btn-submit {
  display: flex;
  min-width: 200px;
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--secondary-title-text);
  cursor: pointer;
  border: none;
  align-items: center;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 29px;
  margin-left: 12px;
}

.footer-svg-sign {
  fill: var(--secondary-title-text);
  margin-left: 10px;
}

/* portfolio main */
.button-title,
.portfolio-cards {
  list-style: none;
}

.button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.button-title {
  margin-right: 8px;
}
.button-title:last-child {
  margin-right: 0;
}

.button-item {
  padding: 6px 22px;
  font-family: inherit;
  background-color: var(--second-background-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-title-text);
  cursor: pointer;
  border-radius: 4px;
  border: none;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-item.current {
  background-color: var(--accent-color);
  color: var(--secondary-title-text);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-item:hover,
.button-item:focus {
  background-color: var(--accent-color);
  color: var(--secondary-title-text);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-cards {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.portfolio-card {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 90px) / 3);
  background: var(--secondary-title-text);
}

.portfolio-link {
  display: block;
  cursor: pointer;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:focus,
.portfolio-link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-img {
  display: block;
}

.flex-elements {
  padding: 20px 24px;
  border-bottom: 1px solid var(--second-border-color);
  border-left: 1px solid var(--second-border-color);
  border-right: 1px solid var(--second-border-color);
}

.portfolio-card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-title-text);
}
.portfolio-card-description {
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.overlay-container {
  position: relative;
  overflow: hidden;
}
.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover .overlay-text,
.portfolio-link:focus .overlay-text {
  opacity: 1;
  transform: translateY(0);
}

.overlay-text-item {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--secondary-title-text);
  padding: 63px 24px;
}
